<div style="width:550px; margin: auto;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Registar Compra</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label for="exampleInputEmail1">Cliente</label>
        <input [(ngModel)]="order.CustomerID" type="text" class="form-control input-lg" id="exampleInputEmail1" placeholder="Número de Cliente">
         {{ order.CustomerID }}
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Talão</label>
        <input [(ngModel)]="order.CouponID" type="text" class="form-control input-lg" id="exampleInputEmail1" placeholder="Número do Talão">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Valor</label>
        <input [(ngModel)]="order.Amount" type="text" class="form-control input-lg" id="exampleInputEmail1" placeholder="Total da Compra">
      </div>
    </div>
  </div>
  <div class="text-right">
    <button type="button" class="btn btn-success btn-lg" (click)="submit()">Submeter</button>
  </div>
</div>