<div style="width:550px; margin: auto;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Registar Cliente</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input [(ngModel)]="customer.Name" type="text" class="form-control input-lg" placeholder="Nome de Cliente">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Telemóvel</label>
        <input [(ngModel)]="customer.Cellphone" type="number" class="form-control input-lg" placeholder="Número do Telemóvel">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input [(ngModel)]="customer.Email" type="email" class="form-control input-lg" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Morada</label>
        <input [(ngModel)]="customer.AddressLine1" type="text" class="form-control input-lg" placeholder="Nome da Rua">
        <br/><input [(ngModel)]="customer.AddressLine2" type="text" class="form-control input-lg" placeholder="Número da Porta"><br/>
        <div class="row">
          <div class="col-md-5">
            <input [(ngModel)]="customer.AddressPostcode" type="text" class="form-control input-lg" placeholder="Código Postal">
          </div>
          <div class="col-md-7">
            <input [(ngModel)]="customer.AddressLocation" type="text" class="form-control input-lg" placeholder="Localidade">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Talão</label>
        <input [(ngModel)]="transaction.CouponID" type="number" class="form-control input-lg" placeholder="Número do Talão">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Valor</label>
        <input [(ngModel)]="transaction.Amount" type="text" class="form-control input-lg" placeholder="Total da Compra">
      </div>
    </div>
  </div>
  <div class="text-right">
    <button (click)="submit()" type="button" class="btn btn-success btn-lg">Submeter</button>
  </div>
</div>