<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"  routerLink="/">FIDUS</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">   
            <li><a routerLink="/customers">VER CLIENTES</a></li>         
            <li><a routerLink="/customer">REGISTAR CLIENTE</a></li>
            <li><a routerLink="/order">REGISTAR COMPRA</a></li>            
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="../navbar/">Default</a></li>
        <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
        <li><a href="../navbar-fixed-top/">Fixed top</a></li>
        </ul>
    </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container-fluid">

    <router-outlet></router-outlet>

</div> <!-- /container -->