<div *ngIf="customers != null">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="customers == null">
  A carregar
</div>